.product-list {
  display: grid;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 15px;
}
.img-container {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(230, 230, 230);
  background: #f9fffe;
}
.img-product {
  width: 400px;
  height: 400px;
  transition: all 0.3s linear;
}
.img-product:hover {
  transform: scale(1.05);
}
.title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}
.addCart,
.findOut {
  display: inline-block;
  padding: 8px;
  margin: 15px 20px 20px 20px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #dbecea;
  cursor: pointer;

  font-size: 20px;
  font-weight: 550;
  text-transform: capitalize;

  opacity: 0.8;
  transition: all 0.3s linear;
}
.addCart:hover,
.findOut:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
}
.view-cart {
  text-decoration: none;
  color: rgb(194, 132, 57);
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 10px auto;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
  width: 250px;
  padding-left: 5px;
  background: rgb(104, 104, 104);
  color: white;
  border-radius: 5px;
}
.filter-container select {
  background: black;
  color: white;
  width: 100px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
}
.title {
  font-size: 18px;
}

/* welcome session */

.welcome {
  background: #ececec;
  text-align: center;
}
.welcome-container {
  width: 80%;

  margin: 0 auto;
  padding: 60px 20px;
}

/* contact us */
.contact-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}
.contact-container h1 {
  text-transform: capitalize;
  font-size: 30px;
}
.field input,
.field textarea {
  margin-top: 18px;
  width: 450px;
}
.field input {
  height: 35px;
}

@media screen and (max-width: 800px) {
  .form {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  /* contact us */
  .contact-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
  }
  .contact-container h1 {
    text-transform: capitalize;
    font-size: 30px;
  }
  .field input,
  .field textarea {
    margin-top: 18px;
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .img-product {
    width: 300px;
    height: 300px;
  }
  .addCart,
  .findOut {
    font-size: 17px;
  }
  .title {
    font-size: 18px;
  }
  .price {
    font-size: 17px;
  }
}
