.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  position: relative;
  margin: 5px 5px 0px 5px;
  overflow: hidden;
}

.container-item {
  position: relative;
}
.container-item img {
  position: relative;
  height: 25vh;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
  filter: brightness(0.3);
  transition: 0.3s ease-in-out;
}
.container-item img:hover {
  filter: brightness(0.7);
}
.container-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 740px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
